*.archive
*.log
*jar
.DS_Store
.cache
.cpcache
.eastwood
.idea
.lein-deps-sum
.lein-plugins/
.lein-repl-history
.nrepl-history
.nrepl-port
.rebel_readline_history
.repl
/classes/
/lib/
/out/
/target/
node_modules
pom.xml
pom.properties
public/js
.shadow-cljs
.clj-kondo/.cache
.lsp/.cache
